@page "/Logs"
@using LightManager.Shared
@using LightManager.Shared.Models
@using System.Web
@inject HttpClient Http
@*
TODO//
Get matching .torrent and magnet files and list them and download details ready to approve for upload/download
Collect errors ready for displaying on logs page
have download progress page with links to any errors.

get torrent and magnet files to vol1 from *arr
set location in app to where files are stored so it can read them.
process the files.
ability to select episodes/files from each file.


properties to define - folder location
where to move torrent files
RD API key


*@

<PageTitle>Logs</PageTitle>

<h1>Logs</h1>
@* <EditForm class="container" Model="settings">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="title">Title</label>
            <InputText placeholder="/"  @bind-Value="settings.ImportPath" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <InputTextArea id="description" @bind-Value="SelectedCoffee.Description" placeholder="Description..." class="form-control" rows="7" />
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            <div class="col">
                <button type="button" @onclick="FolderPicker" class="btn btn-danger float-right">Submit</button>
            </div>
        </div>
    </EditForm>
    *@


@if (logs is null)
{
	<p><em>Loading...</em></p>
}
else if (logs is not null)
{
	<table class="col-md-12 table-bordered table-striped table-condensed cf">
		<tr>
			<th>Description</th>
			<th>Filename</th>
            <th>LastModified</th>
            <th>Downloaded</th>
            <th>MagnetLink</th>
		</tr>

		@foreach (var item in logs)
		{
			<tr>
				<td>@item.Description</td>
				<td>@item.Filename</td>
                <td>@item.LastModified</td>
                <td>@item.Downloaded</td>
                <td>@(string.Concat(@item.MagnetLink.Take(20)))</td>
			</tr>
		}
</table>
}




@code {
    //private string[] logCount = new String[3] { "test", "test2", "test32" };
    //private LogObject logBject;
    //private WeatherForecast[]? forecasts;
    //private AppSettings? settings = new AppSettings();
    //private FolderObject? folderObject = new FolderObject();
    private List<TaskItem> logs = new List<TaskItem>();
    //private  List<RDTorrentInfo> torrentInfo = null;
    //private string Path { get; set; } = "/";

    protected override async Task OnInitializedAsync()
    {
        //properties = await Http.GetFromJsonAsync<SystemProperties>("SystemProperties/"+CurrentPath); 
        //folderObject = await Http.GetFromJsonAsync<FolderObject>($"Tasks?Path={HttpUtility.UrlEncode(Path)}");
        //Console.WriteLine(folderObject);
        //await Task.Delay(000);
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast"); 
        await LogProcessor();
    }
    private async Task LogProcessor()
    {
        logs = await Http.GetFromJsonAsync<List<TaskItem>>($"api/Logs/GetLogs");
        StateHasChanged();
        //Console.WriteLine(tasks);
    }






}
